<div class="d-flex justify-content-center align-items-center" style="height: 40vh; color:#25518d">
    <h1 class="text-center">Вашата поръчка бе успешно потвърдена и ще бъде изпратена възможно наи-скоро!</h1>
</div>
<br />
<div class="d-flex justify-content-center align-items-center" style="color:#25518d">
    <h1 class="text-center">Благодарим Ви, че бяхте наш клиент!</h1>
</div>